.myList {
  min-height: 100vh;
  max-width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-image: url("../../Home/Header/home-bg.jpg");
}

.myList__notEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myList__notEmpty > span {
  margin-top: 100px;
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-decoration: underline;
}

.myList__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 50px;
  align-items: center;
  margin-top: 50px;
}

@media screen and (max-width: 450px) {
  .myList__notEmpty {
    font-size: 23px;
    margin-bottom: 15px;
  }

  .myList__notEmpty > span {
    margin-top: 50px;
    font-size: 23px;
    margin-bottom: 15px;
  }

  .myList__item {
    flex-direction: column;
    margin: 1px 0px;
  }
}
